html {
        font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,
        Helvetica Neue, Arial,sans-serif;
        
        text-align: center;
        padding: 0;
        margin: 0 ;

        background-size: 100%, 100%;
}

button {
        visibility: hidden;
}

input {
        visibility: visible;
}

body {
	position: relative;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

p {
        font-size: 6.25em;
}

section {
	width: auto;
	transition: all 0.5s linear 0s;
	margin: auto;
}

#prompt{
	height:inherit;
	width:inherit;
}

#start {
	cursor: pointer;
	display: show;
}
#micContainer{
	transition: color 0.5s linear 0s;
}

#player {
	display: none;
	transition: all 0.5s linear 0s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
